/* Gruvbox Rose Midnight */

@define-color bg0_h           #000b1e;
@define-color bg0             #0a1528;
@define-color bg1             #383450;
@define-color bg2             #454063;
@define-color bg3             #bdae93;
@define-color bg4             #a89984;
@define-color gray            #918daa;
@define-color fg4             #7c6f64;
@define-color fg3             #665c54;
@define-color fg2             #504945;
@define-color fg1             #3c3836;
@define-color fg0             #0abdc6;
@define-color red             #cc241d;
@define-color bright_red      #9d0006;
@define-color green           #00a138;
@define-color bright_green    #79740e;
@define-color yellow          #d79921;
@define-color bright_yellow   #b57614;
@define-color blue            #458588;
@define-color bright_blue     #076678;
@define-color purple          #eb6f93;
@define-color bright_purple   #8f3f71;
@define-color dark_purple     #1d062d;
@define-color aqua            #689d6a;
@define-color bright_aqua     #427b58;
@define-color orange          #d65d0e;
@define-color bright_orange   #af3a03;


@define-color white           #ffffff;
@define-color black           #000000;

/* Imported Colors */

@define-color bar-bg transparent;
@define-color main-bg @bg0_h;
/* @define-color main-fg #ebbcba; */
@define-color main-fg @fg0;
@define-color wb-act-bg #31748f;
@define-color wb-act-fg #9ccfd8;
@define-color wb-hvr-bg #eb6f92;
@define-color wb-hvr-fg #f6c177;

/* 
  bg - background
  fg - foreground
  br - border
*/

/* Main Colors */

@define-color shadow          shade(@bg0_h, 0.5);
@define-color main-fg         @fg0;
@define-color main-bg         @bg0_h;
@define-color main-br         @fg0;

@define-color active-bg       @green;
@define-color active-fg       @bg0_h;

@define-color hover-bg        @bg2;
@define-color hover-fg        alpha(@fg0, 0.75);

/* Module Colors */

@define-color module-fg       @fg0;
@define-color workspaces      @bg0;

@define-color temperature     @bg0;
@define-color memory          @bg1;
@define-color cpu             @bg2;
@define-color distro-fg       @dark_purple;
@define-color distro-bg       @purple;
@define-color time            @bg2;
@define-color date            @bg1;
@define-color tray            @bg0;

@define-color pulseaudio      @bg0;
@define-color backlight       @bg1;
@define-color battery         @bg2;
@define-color power           @purple;

/* State Colors */

@define-color warning         @bright_orange;
@define-color critical        @bright_red;
@define-color charging        @fg0;

